####################################
# PostgreSQL Container
####################################

POSTGRES_DB=taskflow
POSTGRES_USER=taskflow
POSTGRES_PASSWORD=changeme

####################################
# Backend
####################################

PORT=3000
NODE_ENV=development

DB_HOST=postgres
DB_PORT=5432
DB_NAME=taskflow
DB_USER=taskflow
DB_PASSWORD=changeme

REDIS_HOST=redis
REDIS_PORT=6379

#JWT_SECRET=super-secret-key

####################################
# Frontend
####################################

VITE_API_URL=http://localhost:3000